div{
    height: 100px;
    width: 200px;
    background-color: darkred;
}

@media (max-width: 300px){
    div{
        background-color: green;
    }
}

@media (min-width: 300px) and (max-width: 400px){
    div{
        background-color: rgb(255, 2, 183);
    }
}

@media (min-width: 400px) and (max-width: 600px){
    div{
        background-color: red;
    }
}

@media (min-width: 600px){
    div{
        background-color: blue;
    }
}

