.navbar{
    background-color: cyan;
    display: flex;
    justify-content: space-evenly;
}

a{
    font-size: large;
    text-decoration: none;
    color: red;
}

li{
    list-style-type: none;
}

.outer{
    height: 400px;
    width: 400px;
    background-color: tomato;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 100px;
    width: 100px;
    background-color: rgb(77, 255, 71);
    /* align-self: flex-end; */
}