*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: inline-block;
    background-color: #B9CDDA;
    height: 100vh;
    width: 100vw;
    padding: 25px 0px 25px 3rem;
}

.cards {
    display: inline-block;
    height: 600px;
    width: 420px;
    background-color: #8FB09E;
    border: 7px solid black;
    border-radius: 10px;
    margin-right: 20px;
}

.plan{
    margin: 10px 0px 30px 10px;
}

.price {
    margin: 25px 0px 20px 10px;
    font-family: 'Lucida Sans Unicode';
}

.cards h2 {
    margin: 25px 0px 10px 10px;
    font-weight: 900;
}

.cards p {
    margin: 20px 0px 0px 10px;
    font-family:  Tahoma;
}

.for {
    margin: 30px 0px 10px 10px;
}

.cards button{
    border: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #A6D8D4;
    font-size: large;
    font-weight: 700;
    padding: 10px 10px 10px 10px;
    margin: 70px 127px;
}